numpy==1.19.3
Brotli==1.0.9
tornado==6.1
pywin32==300
cryptography==3.4.7
Cython==0.29.23
docutils==0.17.1
importlib_metadata==4.5.0
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
wincertstore==0.2.1
zipp==3.4.1
gunicorn