<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Resume stuff</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name"><div class="abs-center">简历</div></div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <svg viewbox="0 0 80 80" class="rela-block logo-svg">
                    <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
                </svg>
                <p class="logo-text">kj</p>
            </div>
        </div>
        <p>姓名：张纸李昂</p>
        <p>地址：中国湖北</p>
        <p>联系电话：451289200124521</p>
        <p>邮箱：zz123456@outlook</p><br>
        <p class="rela-block social twitter">特推的东西</p>
        <p class="rela-block social pinterest">有趣的是</p>
        <p class="rela-block social linked-in">主要的事</p>
        <p class="rela-block caps side-header">Expertise专业知识</p>
        <p class="rela-block list-thing">HTML</p>
        <p class="rela-block list-thing">CSS (Stylus)</p>
        <p class="rela-block list-thing">JavaScript & jQuery</p>
        <p class="rela-block list-thing">python</p>
        <p class="rela-block caps side-header">Education教育</p>
        <p class="rela-block list-thing">在学校上课</p>
        <p class="rela-block list-thing">在网上学习</p>
        <p class="rela-block list-thing">参与正常活动</p>
        <p class="rela-block list-thing">自主学习</p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title">主要内容</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Profile简介</div>
        <p class="long-margin">我是一个学生，有良好的心理素质，能正确的认识和评价自己，虚心接受他人的建议。拥有良好表达和沟通能力，性情温和，易于他人合作，形成融洽的合作关系。积极进取、注意细节、工作态度认真、责任心强、并有很强的团队合作精神与合作能力、注重工作效率、时间观念强，有上进心，知错改错。</p>
        <div class="rela-block caps greyed">Experience工作经验</div>

        <h3>Job #1</h3>
        <p class="light">使用python制作HTML网页</p>
        <p class="justified">用pip下载并导入所需的库，创建css,html,js这几种文件进行，其他所需资源可创建新文件夹保存，例如保存图片文件到此文件</p>
        
        <h3>Job #2</h3>
        <p class="light">Java web进行登录注册</p>
        <p class="justified">在login页面进行输入用户名和密码进行登录，同时也有一个注册的按钮，点击即可进行注册，注册的页面，即ZhuCe.jsp的模样和login.jsp差不多，是通过用户名和密码进行注册的，还有登录成功loginSuccess.jsp、注册成功index.jsp的页面，可以在页面上写上登录成功、注册成功四个字，代表我们的登录和注册已经成功了。</p>
        
        <h3>Job #3</h3>
        <p class="light">用python进行数据分析</p>
        <p class="justified">许许多多的人（包括我自己）都很容易爱上Python这门语言。自从1991年诞生以来，Python现在已经成为最受欢迎的动态编程语言之一，其他还有Perl、Ruby等。由于拥有大量的Web框架（比如Rails（Ruby）和Django（Python）），自从2005年，使用Python和Ruby进行网站建设工作非常流行。这些语言常被称作脚本（scripting）语言，因为它们可以用于编写简短而粗糙的小程序（也就是脚本）。</p>
    </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="../static/js/script.js"></script>

</body>
</html>
